.article-details {
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color:#F4DBD8; /* Set your desired button color */
  color: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:#C09891; /* Set the button color on hover */
}
