.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 140px;
}

/* Style the article details container */
.article-details {
  display: flex; /* Use flexbox to create a horizontal layout */
  align-items: flex-start; /* Align content at the top */
  padding: 20px;
  text-align: left;
}

/* Style the left column for images */
.article-images {
  flex: 1; /* Make the images take up available space */
  margin-right: 20px; /* Add spacing between the columns */
  margin-top: 100px;
}

/* Style the right column for other content */
.other-content {
  flex: 1; /* Make the other content take up available space */
  margin-top: 100px;
}

/* Style the size selection container */
.Size-selection {
  max-width: 200px;
  margin-bottom: 20px; 
  transition: border-color 0.3s;  
}

/* Style the size selection label and select box */
.Size-selection label {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;  
}

/* Change border color on hover */
.Size-selection select:hover {
  border-color: #ddd;  
}

.Size-selection select {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px; 
}
.button_ajout{
  padding: 10px 40px;
  background-color: #F4DBD8;
  color: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 150px; 
  margin-left: 10px;
}

.button_ajout:hover {
  background-color: #C09891;
}

h2 {
  margin-bottom: 20px;
  color: #C09891;;
}

h3 {
  margin-bottom: 20px;
  color: #555;
  text-decoration: underline;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #2A0800;
}

.big-image img {
  width: 100%;      
  max-width: 500px;  
  height: auto;     
  max-height: 500px; 
}
.big-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the small images */
.small-images {
  display: flex;
  list-style-type: none;
  padding: 10px;
}

.small-images li {
  margin-right: 10px; 
}

.small-images img {
 width: 70px;
 height: 70px;
  cursor: pointer;
}


.non-disponible-button {
  padding: 10px 20px;
  background-color: #775144;  
  color:#ccc;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
}

.size-not-available-message {
  color: red; 
  font-size: 16px; 
}

.add-to-cart-message {
  color: green; 
  font-size: 16px;
  margin-top: 10px; 
}

.button_ajout {
  position: relative;
}

.button_ajout span {
  z-index: 2;
  position: relative;
}

.button_ajout::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  color: #fff;
  transition: opacity 0.3s;
}
.button_ajout:hover::before {
  opacity: 1;
}
.original-price {
  text-decoration: line-through;  
}
.discounted-price {
  color: brown;  
}
