<h1 mat-dialog-title class="modal-title">Modifier votre mot de passe</h1>
<div mat-dialog-content>
  <form [formGroup]="editPasswordForm">
    <!-- Change the formGroup name to editPasswordForm -->
    <div class="form-group">
      <mat-form-field>
        <mat-label for="name" class="form-label"
          >Mot de passe actuel :</mat-label
        >
        <input
          matInput
          type="password"
          id="pwd"
          formControlName="pwd"
          required
        />
        <mat-error *ngIf="editPasswordForm.get('pwd')?.hasError('required')">
          Mot de passe est requis
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label for="lastname" class="form-label"
          >Nouveau mot de passe :</mat-label
        >
        <input
          matInput
          type="password"
          id="pwdnew"
          formControlName="pwdnew"
          required
        />
        <mat-error *ngIf="editPasswordForm.get('pwdnew')?.hasError('required')">
          Nouveau mot de passe est requis
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label for="confirm password" class="form-label"
          >Confirmer le nouveau mot de passe:</mat-label
        >
        <input
          matInput
          type="password"
          id="confirmPwd"
          formControlName="confirmPwd"
          required
        />
        <mat-error
          *ngIf="editPasswordForm.get('confirmPwd')?.hasError('required')"
        >
          Confirmation de mot de passe est requise
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()" class="cancel-button">
    Annuler
  </button>
  <button
    mat-button
    [mat-dialog-close]="editPasswordForm.value"
    cdkFocusInitial
    class="save-button"
  >
    Enregistrer
  </button>
</div>
