<div class="category-details">
  <h1>{{ category?.nomCategory }} Articles</h1>

  <p *ngIf="articles.length === 0">Pas d'articles pour cette catégorie.</p>
  <div class="articles-container">
    <a
      *ngFor="let article of articles"
      [routerLink]="'/article/' + article.idArticle"
    >
      <mat-card class="mat-card">
        <mat-card-content class="article-content">
          <div class="article-image">
            <img
              src="{{ article.images[1]?.url_image }}"
              alt="{{ article.nomArticle }}"
            />
            <div class="details-button">voir détails</div>
          </div>
          <div class="article-details">
            <mat-card-title>{{ article.nomArticle }}</mat-card-title>
            <p class="prix">Prix : {{ article.prixArticle }} TND</p>
          </div>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
  <!-- Separator line -->
  <div class="separator"></div>

  <!-- Category description -->
  <div class="category-description">
    <h2>Description de la catégorie {{ category?.nomCategory }}</h2>
    <p>{{ category?.description }}</p>
  </div>
</div>
