<div class="container">
  <h1>Articles</h1>
  <div class="filters">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="codeFilter"
        placeholder="Chercher par code"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="keywordFilter"
        placeholder="Chercher par article"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choisir Categorie</mat-label>
      <mat-select
        [(ngModel)]="selectedCategory"
        aria-placeholder="Choisir Categorie"
      >
        <mat-option
          *ngFor="let category of categories"
          [value]="category.nomCategory"
        >
          {{ category.nomCategory }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button class="apply" (click)="loadArticles()">Filtrer</button>
    <button mat-button class="reset" (click)="resetFilters()">
      Réinitialiser
    </button>
    <button mat-button class="ajout" (click)="navigateToAddArticlePage()">
      Ajouter un Article
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Bare code Column -->
    <ng-container matColumnDef="bareCode">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let article of dataSource.data">
        {{ article.bareCode }}
      </td>
    </ng-container>
    <!-- Article Column -->
    <ng-container matColumnDef="articlename">
      <th mat-header-cell *matHeaderCellDef>Article</th>
      <td
        mat-cell
        *matCellDef="let article of dataSource.data"
        class="article-cell"
      >
        <div class="article-content">
          <img
            *ngIf="article.images && article.images.length > 0"
            [src]="article.images[0].url_image"
            alt="Article Image"
            class="article-image"
          />
          <div class="article-name">{{ article.nomArticle }}</div>
        </div>
      </td>
    </ng-container>
    <!-- Categorie Column -->
    <ng-container matColumnDef="categoriename">
      <th mat-header-cell *matHeaderCellDef>Catégories</th>
      <td mat-cell *matCellDef="let article of dataSource.data">
        {{ getCategoriesNames(article) }}
      </td>
    </ng-container>

    <!-- prix Column -->
    <ng-container matColumnDef="prix">
      <th mat-header-cell *matHeaderCellDef>Prix</th>
      <td mat-cell *matCellDef="let article of dataSource.data">
        {{ article.prixArticle }} TND
      </td>
    </ng-container>

    <!-- prix solde Column -->
    <ng-container matColumnDef="prixsolde">
      <th mat-header-cell *matHeaderCellDef>Prix Soldé</th>
      <td mat-cell *matCellDef="let article of dataSource.data">
        {{ article.prixSolde }} TND
      </td>
    </ng-container>

    <!-- Quantité Column -->
    <ng-container matColumnDef="quantité">
      <th mat-header-cell *matHeaderCellDef>Quantité</th>
      <td mat-cell *matCellDef="let article of dataSource.data">
        {{ article.quantiteStock }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let article">
        <!-- Include relevant data or remove this td if not needed -->
        <button
          mat-icon-button
          [routerLink]="['/articleinfos', article.idArticle]"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          mat-icon-button
          [routerLink]="['/edit-article', article.idArticle]"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="openDeleteConfirmationDialog(article.idArticle)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginator
    [length]="totalItems"
    [pageSize]="selectedPageSize"
    [pageSizeOptions]="[3, 5, 7, 10, 15]"
    (page)="onPageChange($event)"
    aria-label="Choisir Page"
  ></mat-paginator>

  <div
    class="empty-table-message-container"
    *ngIf="dataSource.data.length === 0"
  >
    <p>Désolé , Pas d'article correspondant.</p>
    <img src="assets/images/cartempty-removebg-preview.png" alt="" />
  </div>
</div>
