<!-- account-information.component.html -->

<div>
  <h1>Mon Compte</h1>
</div>
<div class="account-info-section">
  <h2>Informations de Compte</h2>
  <p><span>Nom : </span> {{ user.fName }}</p>
  <p>Prénom : {{ user.lName }}</p>
  <p><span>Email: </span>{{ user.email }}</p>
  <p><span>Numéro de Téléphone:</span> {{ user.phone }}</p>
  <a href="javascript:void(0)" (click)="openEditProfileModal()"
    >éditer informations
  </a>
  <a href="javascript:void(0)" (click)="openEditPasswordModal()"
    >éditer mot de passe
  </a>
</div>

<div class="shipping-address-section">
  <h2>Adresse de Livraison par Défaut</h2>
  <p>Adresse : {{ user.adresse }}</p>
  <p>Ville : {{ user.ville }}</p>
  <p>region : {{ user.region }}</p>

  <a href="javascript:void(0)" (click)="openEditAdresseModal()"
    >Modifier l'adresse par défaut
  </a>
</div>

<div class="command-section">
  <h2>Commandes récentes</h2>
  <table>
    <thead>
      <tr>
        <th>ID Commande</th>
        <th>Date de Commande</th>
        <th>Total</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of recentOrders">
        <td>{{ order.idCommande }}</td>
        <td>{{ order.orderDate }}</td>
        <td>{{ order.total }}</td>
        <td>{{ order.status }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <button class="logout-button" (click)="logout()">Se déconnecter</button>
</div>
