<!-- account-information.component.html -->
<div>
  <h1>Mon Compte</h1>
</div>
<div class="account-info-section">
  <h2>Informations de Compte</h2>
  <p><span>Nom : </span> {{ user.fName }}</p>
  <p>Prénom : {{ user.lName }}</p>
  <p><span>Email: </span>{{ user.email }}</p>
  <p><span>Numéro de Téléphone:</span> {{ user.phone }}</p>
  <button
    mat-stroked-button
    color="accent"
    class="infos"
    (click)="openEditProfileModal()"
  >
    éditer informations
  </button>
  <button mat-stroked-button color="accent" (click)="openEditPasswordModal()">
    éditer mot de passe
  </button>
</div>
<div class="shipping-address-section">
  <h2>Adresse de Livraison par Défaut</h2>
  <p>Adresse : {{ user?.adresse }}</p>
  <p>Ville : {{ user?.ville }}</p>
  <p>region : {{ user?.region }}</p>
  <button mat-stroked-button color="accent" (click)="openEditAdresseModal()">
    Modifier l'adresse par défaut
  </button>
</div>
<div class="command-section">
  <h2>Historique des commandes</h2>
  <table>
    <thead>
      <tr>
        <th>Référence Commande</th>
        <th>Date de Commande</th>
        <th>Total</th>
        <th>Statut du traitement de la commande</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of recentOrders">
        <td>{{ order.reference }}</td>
        <td>{{ order.orderDate }}</td>
        <td>{{ order.total }} TND</td>
        <td>{{ order.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <button class="logout-button" (click)="logout()">Se déconnecter</button>
</div>
