
mat-sidenav {
  position: fixed;
  margin-top: 65px;
  width:15%;
  border-right: none;
  background-color:#F4DBD8;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
a{
  text-decoration: none;
  color:#555;
  font-size: 1.rem;  
  font-weight: bold;  
}
 a:hover{
  color:#775144;
 }

mat-sidenav-content {
  /*height: calc(100vh - 32px);*/
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  
}

mat-icon {
  margin-right: 8px;
  color:#555
}

mat-list-item {
  padding: 40px;
  transition: background-color 0.3s;
  text-align: left;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

mat-list-item .logout{
  color: #555;
  font-size: 1.rem;  
  font-weight: bold;  
}
.logo {
  height: 50px;
  width: auto;
  margin: 5px 20px; 
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 100%; /* Adjust as needed for smaller screens */
  }
}