<div *ngIf="DashboardAdminstration()">
  <mat-toolbar color="secondary">
    <mat-toolbar-row>
      <a href="/acceuildashboard">
        <img src="assets\images\miss.png" alt="Miss Rose Logo" class="logo" />
      </a>
      <button mat-button (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
      <mat-list>
        <mat-list-item>
          <a routerLink="/acceuildashboard">
            <mat-icon>dashboard</mat-icon> Tableau de bord</a
          >
        </mat-list-item>

        <mat-list-item>
          <a routerLink="/clients" *ngIf="isVendeure()">
            <mat-icon>groups_2</mat-icon>Clientes</a
          >
        </mat-list-item>
        <mat-list-item *ngIf="isVendeure()">
          <a routerLink="/categories">
            <mat-icon>category</mat-icon>Catégories</a
          >
        </mat-list-item>
        <mat-list-item *ngIf="isVendeure()">
          <a routerLink="/articles"> <mat-icon>checkroom</mat-icon>Articles</a>
        </mat-list-item>
        <mat-list-item *ngIf="isVendeure()">
          <a routerLink="/commandes">
            <mat-icon>shopping_cart_checkout</mat-icon>Commandes</a
          >
        </mat-list-item>
        <mat-list-item *ngIf="isAdmin()">
          <a routerLink="/vendeurs">
            <mat-icon>support_agent</mat-icon>Vendeuses</a
          >
        </mat-list-item>
        <mat-list-item>
          <button mat-button (click)="logout()" class="logout">
            <mat-icon>logout</mat-icon>
            Se déconnecter
          </button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
