<div class="container">
  <h1>Clientes</h1>

  <div class="filters">
    <!-- Name filter -->
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="keywordFilter"
        placeholder="Chercher par nom"
      />
    </mat-form-field>

    <!-- Phone filter -->
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="phoneFilter"
        placeholder="Chercher par téléphone"
      />
    </mat-form-field>
    <!--Email filter-->
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="emailFilter"
        placeholder="Chercher par Email"
      />
    </mat-form-field>

    <button mat-button class="apply" (click)="loadClients()">Filtrer</button>
    <button mat-button class="reset" (click)="resetFilters()">
      Réinitialiser
    </button>
    <button mat-button class="ajout" (click)="navigateToAddClientPage()">
      Ajouter une nouvelle Cliente
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Client Name Column -->
    <ng-container matColumnDef="clientname">
      <th mat-header-cell *matHeaderCellDef>Cliente</th>
      <td mat-cell *matCellDef="let client of dataSource.data">
        {{ client.fName }} {{ client.lName }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let client of dataSource.data">
        {{ client.email }}
      </td>
    </ng-container>

    <!-- Adresse Column -->
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef>Adresse</th>
      <td mat-cell *matCellDef="let client of dataSource.data">
        {{ client.adresse }}
      </td>
    </ng-container>

    <!-- Region Column -->
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>Région</th>
      <td mat-cell *matCellDef="let client of dataSource.data">
        {{ client.region }}
      </td>
    </ng-container>

    <!-- Ville Column -->
    <ng-container matColumnDef="ville">
      <th mat-header-cell *matHeaderCellDef>Ville</th>
      <td mat-cell *matCellDef="let client of dataSource.data">
        {{ client.ville }}
      </td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Numéro de téléphone</th>
      <td mat-cell *matCellDef="let client of dataSource.data">
        {{ client.phone }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td
        mat-cell
        *matCellDef="let client"
        [ngClass]="{
          'active-style': client.valide,
          'inactive-style': !client.valide
        }"
      >
        {{ client.valide ? "Active" : "Désactivé" }}
      </td>
    </ng-container>

    <!-- suppersion client Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Désactivation</th>
      <td mat-cell *matCellDef="let client">
        <button
          mat-icon-button
          (click)="openDeleteConfirmationDialog(client.idUser)"
        >
          <mat-icon>power_settings_new</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginator
    [length]="totalItems"
    [pageSize]="selectedPageSize"
    [pageSizeOptions]="[5, 7, 10, 15]"
    (page)="onPageChange($event)"
    aria-label="Choisir Page"
  ></mat-paginator>

  <div
    class="empty-table-message-container"
    *ngIf="dataSource.data.length === 0"
  >
    <p>Désolé, Pas de clients correspondants.</p>
  </div>
</div>
