<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<div *ngIf="shouldDisplayFooter()">
  <footer>
    <div class="container">
      <div class="sec aboutus">
        <img src="assets\images\pdp.png" alt="Miss Rose Logo" class="logo" />
        <div class="sec contact">
          <ul class="info">
            <li>
              <span><i class="fa-solid fa-phone"></i></span>
              <p>+216 52 933 771</p>
            </li>
            <li>
              <span><i class="fa-solid fa-location-crosshairs"></i></span>
              <p>16 rue mahmud annebi manzeh 6</p>
            </li>

            <li>
              <span><i class="fa-regular fa-clock"></i></span>
              <p>Ouvert 7j/7 de 9:30h à 19:30h</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="sec quicklinks">
        <h2>Besoin d'aide</h2>
        <ul>
          <li><a href="\faq">FAQ</a></li>
          <li><a href="\livraison">Informations de livraison</a></li>
          <li><a href="\contacts">Nous contacter</a></li>
          <li><a href="\apropos">A propos de nous</a></li>
        </ul>
      </div>

      <div class="sec quicklinks">
        <h2>Politiques</h2>
        <ul>
          <li><a href="\retours">Politique de retours</a></li>
          <li><a href="\confidentialite">Politique de confidentialité</a></li>
        </ul>
      </div>
      <div class="sec contact">
        <h2>Suivez nous</h2>
        <ul class="sci">
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=100088764880079"
              target="_blank"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/missrose_menzah6/"
              target="_blank"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyrightText">
      <p>© 2023 Miss Rose</p>
    </div>
  </footer>
</div>
