<div class="delivery-info">
  <h3>OÙ LIVRE-T-ON ?</h3>
  <p>
    Votre commande vous sera livrée à l’adresse renseignée lors de votre achat.
    Notre livreur assure la livraison sur tout le territoire tunisien, et même
    dans les zones difficilement accessibles.
  </p>

  <h3>QUELS SONT LES DÉLAIS DE LIVRAISON ?</h3>
  <p>Délai de livraison standard est entre 2 à 5 jours ouvrables.</p>

  <h3>QUELS JOURS DE LA SEMAINE PEUT-ON ÊTRE LIVRÉS ?</h3>
  <p>
    Les livraisons se feront tous les jours de la semaine (sauf les Dimanches et
    les jours fériés).
  </p>

  <h3>COMMENT FAIRE SI JE SUIS ABSENT LORS DE LA LIVRAISON ?</h3>
  <p>
    En cas d’absence lors de la livraison de votre commande, vous disposez d’un
    délai de 3 jours pour répondre aux trois tentatives de livraison du
    transporteur, et demander à récupérer votre colis à l’adresse indiquée. Une
    autre personne peut récupérer le colis à votre place à condition que cette
    dernière se trouve à l’adresse indiquée lors de la commande.
  </p>
  <p>
    Au-delà de ce délai, le colis sera renvoyé à notre local en Menzah 6. Nous
    vous adresserons une première relance, par téléphone. En l’absence de
    réponse dans un délai de 3 jours, Miss Rose considérera que vous avez fait
    valoir votre droit de rétractation, ce qui entraînera l'annulation de la
    commande.
  </p>

  <h3>QUELS SONT LES FRAIS DE LIVRAISON ?</h3>
  <p>
    La livraison est à 7dt et nous vous offrons une livraison gratuite à partir
    de 300dt d'achat.
  </p>

  <h3>QUELS SONT LES MOYENS DE PAIEMENT ?</h3>
  <p>
    Le règlement de la commande se fait uniquement en espèces à la livraison.
  </p>

  <h3>POUR PLUS D'INFORMATIONS :</h3>
  <p>
    Contactez-nous par téléphone: 52 933 771 ou par Instagram missrose_menzah6
    (disponible 7j/7, de 8h à 22h).
  </p>
</div>
