.container {
  width: 100%;
  overflow: auto;
  padding: 20px;
  text-align: left;
}
.ajout{
  background-color: #C09891;
  color: white;
  margin-right: 10px;
  margin-bottom: 30px;
}

th{
  font-weight: bold;
}