<div class="container">
  <h2>Catégories</h2>
  <button mat-button class="ajout">Ajouter une catégorie</button>

  <table mat-table [dataSource]="dataSource">
    <!-- Column definitions -->
    <ng-container matColumnDef="nomCategory">
      <th mat-header-cell *matHeaderCellDef>Nom Catégorie</th>
      <td mat-cell *matCellDef="let category">{{ category.nomCategory }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let category">{{ category.description }}</td>
    </ng-container>

    <ng-container matColumnDef="parentCategory">
      <th mat-header-cell *matHeaderCellDef>Catégorie Père</th>
      <td mat-cell *matCellDef="let category">
        {{ category.parentCategory ? category.parentCategory.nomCategory : "" }}
      </td>
    </ng-container>

    <!-- Add actions column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let category">
        <!-- Edit and delete icons with click events -->
        <button mat-icon-button (click)="openEditModal(category)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDeleteModal(category)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and row definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- mat-paginator -->
  <mat-paginator
    #paginator
    [length]="totalItems"
    [pageSize]="selectedPageSize"
    [pageSizeOptions]="[7, 10, 15]"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
