<div class="container">
  <div class="cart-container" *ngIf="!isCartEmpty">
    <h1>Mon Panier</h1>
    <table>
      <thead>
        <tr>
          <th>Article</th>
          <th>Taille</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>
            <div class="article-info">
              <img
                [src]="item.image"
                alt="{{ item.name }}"
                class="article-image"
              />
              <span class="article-name">{{ item.name }}</span>
            </div>
          </td>
          <td>{{ item.selectedSize }}</td>
          <td>{{ item.originalPrice }} TND</td>
          <td>
            <input
              type="number"
              [(ngModel)]="item.quantity"
              (ngModelChange)="updateQuantity(item, $event)"
              min="0"
            />
          </td>
          <td>{{ item.originalPrice * item.quantity }} TND</td>
          <td>
            <button mat-icon-button (click)="removeItemFromCart(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">Total</td>
          <td>{{ calculatedTotal }} TND</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <button class="vider-panier-button" (click)="clearCart()">
      Vider Panier
    </button>
  </div>
  <!-- Delivery Mode Section -->
  <div class="delivery-section" *ngIf="!isCartEmpty">
    <h3>Mode de livraison</h3>
    <table class="delivery-table">
      <tbody>
        <tr>
          <!-- First Line -->
          <td>
            <input
              type="radio"
              id="homeDelivery"
              name="deliveryChoice"
              value="domicile"
              [(ngModel)]="deliveryChoice"
              (ngModelChange)="calculateDeliveryAndTotal()"
            />
          </td>
          <td>7.000 TND</td>
          <td>livraison à domicile par ARAMEX</td>
          <td>Payez votre commande à la livraison</td>
        </tr>
        <tr>
          <!-- Second choice -->
          <td>
            <input
              type="radio"
              id="freeDelivery"
              name="deliveryChoice"
              value="free"
              [(ngModel)]="deliveryChoice"
              (ngModelChange)="calculateDeliveryAndTotal()"
            />
          </td>
          <td>0 TND</td>
          <td>Récupérer en Boutique</td>
          <td>Récupérez votre commabde à la boutique en manzeh 6</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Summary Table -->
  <div class="summary-section" *ngIf="!isCartEmpty">
    <h3>Total panier</h3>
    <table class="summary-table">
      <tbody>
        <tr>
          <td>Sous-total</td>
          <td>{{ calculatedTotal }} TND</td>
        </tr>
        <tr>
          <td>Frais de livraison</td>
          <td>{{ deliveryCost }} TND</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{ calculatedTotal + deliveryCost }} TND</td>
        </tr>
      </tbody>
    </table>
    <!-- Checkout Button -->
    <button class="checkout-button" (click)="redirectToOrderPage()">
      Valider Panier
    </button>
  </div>

  <div class="empty-cart-message-container" *ngIf="isCartEmpty">
    <p>Vous n'avez aucun article dans votre panier. continuez vos achats.</p>
    <img src="assets/images/cartempty.png" alt="" />
  </div>
</div>
