/* Style the container holding the table and summary section */
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow elements to wrap on smaller screens */
}

table {
  width: 70%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 150px auto;
}

thead {
  background-color: #BEA8A7
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

input[type="number"] {
  width: 40px;
  padding: 5px;
}

tfoot {
  font-weight: bold;
}

button {
  background-color: #2A0800;
  color: #fff;
  border: none;
  padding: 5px 30px;
  cursor: pointer;
}

button:hover {
  background-color:#ddd;
}


/* Style for the Vider Panier button */
.vider-panier-button {
  display: block; /* Display as a block to create a new line */
  margin-top: 10px; /* Add some top margin for spacing */
  margin-left: 30px;
  background-color: #2A0800; /* Button background color */
  color: #fff; /* Text color */
  border: none; /* Remove the border */
  padding: 10px 20px; /* Padding for the button */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
}

.vider-panier-button:hover {
  background-color: #BEA8A7; /* Change background color on hover */
}

/* Container to position the button to the right */
.cart-container {
 
  width: 100%; /* Adjust the width as needed */
}

 

/* Style the summary section */
.summary-section {
 
  width: 50%; /* Adjust the width to your preference */
  padding: 10px;
  margin: 100px auto;
  border: 1px solid #ccc;
  text-align: center;
}

/* Style the h3 title */
.summary-section h3 {
  font-size: 18px;
  margin: 0;
  background-color: #f0f0f0; /* Add a background color to the title for better visibility */
  padding: 10px; /* Add some padding to the title */
}

/* Style the summary table */
.summary-table {
  width: 100%;
}

/* Style the checkout button */
.checkout-button {
  margin-top: 20px;
  display: block;
  background-color: #2A0800;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #0056b3;
}


/* Style the delivery section */
.delivery-section {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px;
}

/* Style the delivery table */
.delivery-table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
  margin-left:20px;
}

/* Style the table rows and cells */
.delivery-table tr {
  border-bottom: 1px solid #ccc;
}

.delivery-table td {
  padding: 25px;
}

/* Remove borders from the last row */
.delivery-table tr:last-child {
 
  border-bottom: none;
}

h3{
  color: #BEA8A7;
  font-style: italic;
}

.empty-cart-message-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  height: 100vh;  
  text-align: center;
  margin-left: 25%;
}

.empty-cart-message-container p {
  font-size: 1.5rem; /* Taille de police */
}

.empty-cart-message-container img {
  max-width: 500px;  
  margin-top: 20px;  
}
 
.article-image {
  max-width: 70px;  
  max-height: 70px;  
}

/* cart.component.css */
.article-info {
  display: flex;
  align-items: center;
}

.article-name {
  margin-left: 10px;
  font-weight: bold;
}

h1 {
  margin: 30px;  
  position: absolute; 
  
}

@media (max-width: 768px) {
  h1 {
    position: relative; 
    margin: 10px;  
  }
}