.navbar {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.matmenu{
  
    background-color: white;
    color: black;
   
  }
  .custom-menu {
    background-color: #ffffff;
  }
  


.nav-left {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;

}

.nav-icons {
  display: flex;
  justify-content: flex-end; /* Move icons to the maximum right */
  align-items: center; /* Vertically center items */
  margin-right: 10px; /* Adjust the margin to your desired spacing */
  font-family: 'Lato', sans-serif;
}

/* Add this to your CSS to style the search field */
.search {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust the margin to your desired spacing */
  font-family: 'Lato', sans-serif;

}

.search-field {
  width: 350px; /* Adjust the width to make it smaller or larger */
  height:50px;
  background-color: #f1f1f1; /* Background color similar to Forever 21 */
  border-radius: 5px; /* Rounded corners */
}

.search-input {
  width: 100%;
  padding: 8px 12px; /* Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  border: none;
  outline: none;
}

/* Style for the clear button (X) */
.search-field .mat-icon-button {
  padding: 0;
}

.logo {
  height: 50px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
  margin: 0 3px 0 ; /* Add margin to control the logo's position */
 
  /* Additional styling as needed */
}

 /* Custom styles for the dropdown container */
.child-menu {
  position: absolute; 
  top: 7%; 
  border: 1px solid #ccc; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  min-width: 130px; 
  flex-direction: column; 
  z-index: 1000; 
  overflow: auto;
  display: flex;
} 



.submenu-button {
  padding: 8px 16px;
  font-size: 16px;
  color: #333; 
  border: none; 
}


.submenu-button:hover {
  background-color: #f3f3f3; 
  color: #775144; 
  cursor: pointer;
}

