

/* Styles for the entire navigation bar */
.navbar {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

/* Styles for the main menu items */
.menu-button {
  
  font-family: 'Lato', sans-serif;
  padding: 10px 20px; /* Add padding for spacing */
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
}

/* Styles for the subcategories dropdown container */
.child-menu {
  background-color:	#F0F0F2;
  position: absolute;
  top: 7%; /* Position the dropdown below the main category */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  min-width: 130px;
  flex-direction: column;
  z-index: 1000;
  overflow: auto;
  
}

/* Styles for the submenu items */
.submenu-button {
  padding: 8px 16px;
  font-size: 16px;
  color: #333;
  border: none;
  text-decoration: none;
  display: block; 
}

/* Hover effect on submenu items */
.submenu-button:hover {
  color: #775144;
  cursor: pointer;
}

/* Additional styling for icons container */
.nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  font-family: 'Lato', sans-serif;
}

/* Styling for the logo */
.logo {
  height: 50px;
  width: auto;
  margin: 0 10px; /* Adjust the margin for better spacing */
}

