<div class="faq-container">
  <h2>Foire Aux Questions -COMMANDE EN LIGNE</h2>

  <!-- Section: Commande en Ligne -->
  <div class="faq-item">
    <h3>Comment savoir si ma commande est passée?</h3>
    <p>
      Une fois votre commande passée, vous devriez recevoir un appel de
      confirmation de notre part.
    </p>
  </div>

  <div class="faq-item">
    <h3>Est-il possible de modifier ma commande?</h3>
    <p>
      Si votre commande n'est pas encore expédiée, vous pouvez modifier les
      articles et/ou les informations concernant la livraison en contactant
      notre service client par téléphone au 52 933 771.
    </p>
  </div>

  <div class="faq-item">
    <h3>Que faire si je n'ai toujours pas reçu ma commande?</h3>
    <p>
      Si vous n'avez pas reçu d'appel du livreur depuis plus de 5 jours, nous
      vous invitons à contacter notre service client.
    </p>
  </div>

  <div class="faq-item">
    <h3>
      Que faire si je reçois le mauvais produit, un produit manquant ou un
      produit endommagé?
    </h3>
    <p>
      Il suffit de prendre contact avec notre service client, par messagerie ou
      par téléphone, qui s'occupera d'apporter une solution à votre situation.
    </p>
  </div>

  <div class="faq-item">
    <h3>Est-il possible d'annuler ma commande?</h3>
    <p>
      Vous pouvez annuler votre commande à tout moment avant son expédition en
      contactant le service client. Si elle a déjà été expédiée, il suffira de
      la refuser à la livraison.
    </p>
  </div>

  <!-- Section: Retour et Echange -->
  <h2>Foire Aux Questions -RETOUR ET ECHANGE</h2>

  <div class="faq-item">
    <h3>Comment retourner ou échanger un produit acheté?</h3>
    <p>
      Votre achat en ligne peut être retourné ou échangé via notre prestataire
      d'ARAMEX, ce dernier passera récupérer le colis à l'adresse à laquelle la
      livraison a été faite. Pour plus d'information, veuillez consulter les
      conditions dans La rubrique de Politique de retours.
    </p>
  </div>

  <div class="faq-item">
    <h3>Y a-t-il des frais supplémentaires en cas de retour ou d'échange?</h3>
    <p>
      Un retour n'occasionne aucun frais supplémentaire. Cependant, un échange à
      travers ARAMEX pourrait vous coûter les frais de la nouvelle expédition
      suivant la raison de l'échange.
    </p>
  </div>

  <div class="faq-item">
    <h3>Quels sont les articles contre lesquels je peux faire un échange?</h3>
    <p>
      L'échange peut se faire contre n'importe quel produit de votre choix, tant
      que celui-ci est disponible.
    </p>
  </div>
</div>
