<div class="return-policy">
  <h2>Demander un échange ou remboursement</h2>
  <p>
    Vous disposez d’un délai de 30 jours après la date de livraison pour les
    retourner ou demander un échange si vous le désirez pour quelques raisons
    que ce soit :
  </p>
  <p>
    Que vous le vouliez dans une taille, une couleur différente, un modèle
    différent ou qu’il présente un défaut.
  </p>

  <h3>Les conditions ci-dessous devront être respectées :</h3>
  <p>
    Les articles doivent être retournés dans leur état d'origine : non porté,
    non lavé, et les étiquettes d’origine n'aient pas été retirées des articles.
  </p>
  <p>
    Les articles ne doivent pas avoir été endommagés. Ils ne doivent pas
    présenter de traces de maquillage, de déodorant, de parfum, ou de tâches
    quelconques, de cheveux, de poils d'animaux, d’odeurs, etc.
  </p>
  <p>
    Les retours ne respectant pas ces conditions ne pourront pas faire l'objet
    d'un remboursement.
  </p>
  <p>Les frais de retour sont à votre charge.</p>

  <h3>COMMENT JE FAIS POUR RETOURNER UN ARTICLE ?</h3>
  <p>
    Contactez-nous (par téléphone, messenger ou e-mail) afin de nous informer de
    votre souhait de retourner ou d’échanger votre commande. Notre équipe fera
    le nécessaire en vous envoyant un livreur Droppex afin de récupérer le colis
    à l’adresse à laquelle la livraison a été faite.
  </p>

  <p>
    Une fois que l’article retourné est reçu par Miss Rose, nous procéderons à
    l’échange ou au remboursement, selon les conditions citées précédemment.
  </p>

  <h3>QUELS SONT LES ARTICLES CONTRE LESQUELS JE PEUX FAIRE L'ÉCHANGE ?</h3>
  <p>
    L'échange pourra être fait contre tout article proposé à la vente sur notre
    site internet.
  </p>

  <h3>
    SI JE VEUX ÉCHANGER CONTRE UN ARTICLE PLUS/MOINS CHER QUE MON ACHAT INITIAL
    ?
  </h3>
  <p>Pas de problème !</p>
  <p>Dans le cas d’un article plus cher, si l’échange se fait :</p>
  <ul>
    <li>
      Lors de la seconde livraison, le livreur Droppex vous présentera une
      facture comportant la somme restant à régler ainsi que les frais de
      livraison si ceux-ci sont applicables à votre cas. À noter que vous ne
      pourrez régler qu’en espèces à la livraison.
    </li>
  </ul>

  <p>Dans le cas d’un article moins cher, si l’échange se fait :</p>
  <ul>
    <li>
      Nous procédons au remboursement de la différence sur votre carte bancaire,
      nous vous demanderons de nous faire parvenir un Relevé d’Identité Bancaire
      afin de procéder au remboursement.
    </li>
  </ul>

  <h3>COMMENT SE PASSE LE REMBOURSEMENT ?</h3>
  <p>
    Après que le retour répond aux conditions permettant un remboursement,
    celui-ci peut se faire comme suit :
  </p>
  <p>
    Il vous sera demandé de communiquer un Relevé d’Identité Bancaire afin de
    procéder au virement de la somme sur votre compte bancaire dans un délai
    moyen de deux semaines.
  </p>
</div>
