.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

h2 {
  color: #d9534f;
}

p {
  color: #333;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Style the "Save" button */
.btn-delete {
  background-color: #c09891;
  color: white;
  border: none;
  padding: 15px 5px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 15px;
  height: 40px;
}

/* Style the "Cancel" button */
.btn-cancel {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
}
