<div class="privacy-policy">
  <h3>Politique de Confidentialité</h3>
  <p>
    Bienvenue sur Miss Rose, votre destination shopping en ligne préférée ! Chez
    nous, la confidentialité de vos données personnelles est une priorité. Voici
    un aperçu de notre politique de confidentialité :
  </p>

  <ol>
    <li>
      <strong>Collecte d'Informations :</strong> Nous recueillons des
      informations telles que votre nom, adresse e-mail, adresse de livraison
      pour traiter vos commandes et améliorer votre expérience d'achat.
    </li>

    <li>
      <strong>Utilisation des Informations :</strong> Vos données sont utilisées
      pour le traitement des commandes, l'expédition, la personnalisation de
      votre expérience, et l'envoi d'informations pertinentes.
    </li>

    <li>
      <strong>Protection des Données :</strong> Nous mettons en place des
      mesures de sécurité pour protéger vos informations. Vos données sont
      traitées de manière confidentielle et sécurisée.
    </li>

    <li>
      <strong>Droits des Utilisateurs :</strong> Vous avez le droit d'accéder,
      de rectifier, de supprimer, et de vous opposer au traitement de vos
      données. Contactez-nous pour exercer ces droits.
    </li>

    <li>
      <strong>Conservation des Données :</strong> Vos données sont conservées
      aussi longtemps que nécessaire pour les finalités mentionnées ci-dessus.
    </li>

    <li>
      <strong>Modification de la Politique :</strong> Nous nous réservons le
      droit de mettre à jour notre politique de confidentialité. Les
      modifications seront publiées sur notre site.
    </li>

    <p>Merci de faire partie de Miss Rose !</p>
  </ol>
</div>
