
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*{
  margin:0;
  font-family:'Lato', sans-serif; 
  box-sizing: border-box;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: auto; 
}


