<div class="content">
  <h2>Nous Contacter</h2>
  <p>Merci d'avoir visité notre site !</p>

  <p>
    Pour plus d'infos sur nos articles et nos nouveautés, suivez-nous sur les
    réseaux sociaux (Instagram : @missrose_menzah6 , Facebook : @miss-rose).
  </p>

  <p>
    Si vous avez des questions, contactez-nous sur les réseaux sociaux ou à
    l'adresse missrosetn@gmail.com. Notre équipe se fera un plaisir de vous
    répondre rapidement.
  </p>

  <p><span> On est là pour vous !</span></p>
</div>
