<div class="container">
  <h1 mat-dialog-title class="modal-title">Informations de livraison</h1>
  <h4 class="modal-title">
    Vérifiez et Changez Vos informations de livraison si vous voulez
  </h4>

  <form [formGroup]="orderForm">
    <div class="form-group">
      <mat-form-field class="large-input">
        <mat-label for="name" class="form-label">Nom :</mat-label>
        <input
          matInput
          type="text"
          id="name"
          formControlName="name"
          [disabled]="true"
          required
        />
        <mat-error *ngIf="orderForm?.get('name')?.hasError('required')">
          Nom est requis
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="large-input">
        <mat-label for="lastname" class="form-label">Prénom :</mat-label>
        <input
          matInput
          type="text"
          id="lastname"
          formControlName="lastname"
          [disabled]="true"
          required
        />
        <mat-error *ngIf="orderForm?.get('lastname')?.hasError('required')">
          Prénom est requis
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="large-input">
        <mat-label for="email" class="form-label">Email :</mat-label>
        <input
          matInput
          type="email"
          id="email"
          formControlName="email"
          [disabled]="true"
          required
        />
        <mat-error *ngIf="orderForm?.get('email')?.hasError('required')">
          Email est requis
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="large-input">
        <mat-label for="phoneNumber" class="form-label">
          Numéro de téléphone :
        </mat-label>
        <input
          matInput
          type="text"
          id="phoneNumber"
          formControlName="phoneNumber"
          required
        />
        <mat-error *ngIf="orderForm?.get('phoneNumber')?.hasError('required')">
          Numéro de téléphone est requis
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="large-input">
        <mat-label for="adresse" class="form-label">Adresse :</mat-label>
        <input
          matInput
          type="text"
          id="adresse"
          formControlName="adresse"
          required
        />
        <mat-error *ngIf="orderForm?.get('adresse')?.hasError('required')">
          Adresse est requise
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="large-input">
        <mat-label for="ville" class="form-label">Ville :</mat-label>
        <input
          matInput
          type="text"
          id="ville"
          formControlName="ville"
          required
        />
        <mat-error *ngIf="orderForm?.get('ville')?.hasError('required')">
          Ville est requise
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="large-input">
        <mat-label for="region" class="form-label">Région :</mat-label>
        <input
          matInput
          type="text"
          id="region"
          formControlName="region"
          required
        />
        <mat-error *ngIf="orderForm?.get('region')?.hasError('required')">
          Région est requise
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <!-- Summary of Order Card -->
  <div class="order-summary-card">
    <h4>Récapitulatif de la commande</h4>
    <div class="order-summary">
      <div class="order-summary-item" *ngFor="let item of cartItems">
        <div class="order-summary-row">
          <img [src]="item.image" alt="{{ item.name }}" class="article-image" />
          <div class="order-summary-details">
            <span class="article-name">{{ item.name }}</span>
            <span class="article-quantity"> Quantité: {{ item.quantity }}</span>
            <span class="article-taille"> Taille: {{ item.selectedSize }}</span>
            <span class="article-price">
              Prix: {{ item.originalPrice }} TND</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="summary-section">
    <h3>Total de Votre commande</h3>
    <table class="summary-table">
      <tbody>
        <tr>
          <td>Sous-total</td>
          <td>{{ total }} TND</td>
        </tr>
        <tr>
          <td>Frais de livraison</td>
          <td>{{ deliveryCost }} TND</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{ total + deliveryCost }} TND</td>
        </tr>
      </tbody>
    </table>

    <button
      mat-button
      cdkFocusInitial
      class="save-button"
      (click)="onSaveClick()"
    >
      Valider Commande
    </button>
    <button mat-button class="cancel-button" (click)="onCancelClick()">
      Annuler Commande
    </button>
  </div>
</div>
