<div class="add-container">
  <h1 class="form-title">Modifier détails article</h1>

  <mat-chip selected>
    <label for="quantiteStock">Quantité totale en stock : </label>
    <span id="quantiteStockValue">{{ article.quantiteStock }}</span>
  </mat-chip>

  <form [formGroup]="articleForm" class="article-form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Bare Code</mat-label>
        <input matInput formControlName="bareCode" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nom article</mat-label>
        <input matInput formControlName="nomArticle" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Prix article</mat-label>
        <input matInput formControlName="prixArticle" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Prix soldé</mat-label>
        <input matInput formControlName="prixSolde" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="descriptionArticle" />
      </mat-form-field>
    </div>

    <!-- Select for categories -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Categories</mat-label>
      <mat-select formControlName="categories" multiple>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category.nomCategory }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Add image  -->
    <!-- Input for image URL -->

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ajouter une Image avec son URL</mat-label>
        <input matInput formControlName="imageUrl" />
      </mat-form-field>
    </div>
    <div class="buttons-container">
      <div class="form-row">
        <button mat-button (click)="updateArticle()" class="update">
          Modifier détails article
        </button>
      </div>
      <div class="button-row">
        <button mat-button class="annuler" (click)="navigateArticles()">
          Annuler
        </button>
      </div>
    </div>
  </form>
</div>
