<div class="add-container">
  <h1 class="form-title">Ajout d'un article</h1>
  <form [formGroup]="articleForm" class="article-form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Bare Code</mat-label>
        <input matInput formControlName="bareCode" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nom article</mat-label>
        <input matInput formControlName="nomArticle" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Prix article</mat-label>
        <input matInput formControlName="prixArticle" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Prix soldé</mat-label>
        <input matInput formControlName="prixSolde" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Quantité stock</mat-label>
        <input matInput formControlName="quantiteStock" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="descriptionArticle" />
      </mat-form-field>
    </div>

    <!-- Select for categories -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Categories</mat-label>
      <mat-select formControlName="categories" multiple>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category.nomCategory }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-row">
      <button mat-button (click)="addArticle()" class="ajout">
        Enregistrer
      </button>
    </div>
  </form>
</div>
