 
.mat-dialog-container {
  background-color:#BEA8A7;  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  
}
h2 {
  color: #2A0800; 
}
 p {
  color:black; 
}
mat-dialog-actions {
  justify-content: space-between; 
  margin-top: 16px;  
}
button.mat-button {
  border-radius: 4px;   
  margin: 0 8px; 
}
button.mat-button.mat-dialog-close {
  color: #2A0800;  
}
